<mat-nav-list>
    <mat-list-item *ngFor="let link of internalLinks">
       <a matLine>{{ link.title }}</a>
       <button mat-icon-button (click)="showInfo(link)">
          <mat-icon>info</mat-icon>
       </button>
    </mat-list-item>
  </mat-nav-list>
<aa-loading></aa-loading>
<router-outlet></router-outlet>
