<p>calender-month works!</p>

<p>Current date: {{ selectedDate }}</p>
<p>Current second: {{ selectedSecond }}</p>
<p>Current month: {{ selectedMonth }}</p>
<p>Current month: {{ selectedYear }}</p>
<p>Days in month: {{ daysInSelectedMonth }}</p>
